* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f3f3f3;
}

header {
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;

  height: 400px;
}

.headerContainer {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
}

.headerContainer img {
  object-fit: contain;
}

.menuNavigation {
  display: flex;
}

.menuNavigation li {
  color: white;
  list-style: none;
  margin-right: 20px;
}

.menuNavigation li:last-child {
  margin-right: 0;
}

.menuNavigation li a {
  text-decoration: none;
  color: white;
}

.logoProduct {
  position: absolute;
  top: 300px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

#crowdfundingSection {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
}

#crowdfundingInformation {
  max-width: 980px;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
}

.topInformation {
  text-align: center;
}

.topInformation > strong {
  font-size: 1.2rem;
}

.topInformation > p {
  font-size: 1rem;
  color: #b6b6b6;
  margin-top: 10px;
}

.topInformationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.topInformationButtons button {
  padding: 20px 30px;
  border-radius: 40px;

  border: none;
  outline: none;

  font-size: 0.8rem;
  font-weight: 600;
}

.topInformationButtons button:first-child {
  color: white;
  background-color: #05eeb4;
  transition: background-color 0.2s;
}

.topInformationButtons button:first-child:hover {
  background-color: #02c292ce;
}

.topInformationButtons button:last-child {
  color: #a7a7a7;
  display: flex;
  align-items: center;
  padding: 0px;
  padding-right: 20px;

  transition: background-color 0.2s;
}

.topInformationButtons button:last-child:hover {
  background-color: #dddddd;
}

.topInformationButtons button:last-child > img {
  margin-right: 10px;
}

.topInformationButtons button:hover {
  cursor: pointer;
}

#crowdfundingStatus {
  max-width: 980px;
  background-color: white;
  padding: 50px;
  border-radius: 5px;

  margin-top: 20px;
}

.crowdfundingValues {
  display: flex;
  justify-content: space-between;
}

.crowdfundingValues span {
  max-width: 300px;
}

.crowdfundingValues span:first-child {
  padding-right: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.crowdfundingValues span:last-child {
  padding-left: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.crowdfundingValues span strong {
  font-size: 2.25rem;
}

.crowdfundingValues span p {
  font-size: 1rem;
  color: #b6b6b6;
}

.barProgressSection {
  margin-top: 30px;
}

.barProgressSection > div {
  height: 10px;
  border-radius: 4px;
  background: #b6b6b6;
}

.barProgressSection > div > div {
  height: 10px;
  border-radius: 4px;
  background: #05eeb4;
}

.about {
  max-width: 980px;
  background-color: white;
  padding: 50px;
  border-radius: 5px;

  margin-top: 20px;
}

.about > strong {
  font-size: 1.2rem;
}

.about p {
  font-size: 1rem;
  color: #8f8f8f;
}

.about > p {
  margin-top: 35px;
}

.aboutFunding {
  padding: 40px 20px;
  margin-top: 30px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.aboutFundingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutFundingHeader p {
  color: #05eeb4;
  font-size: 0.8rem;
  font-weight: 600;
}

.aboutFundingHeader strong {
  font-size: 1.25rem;
  font-weight: 800;
}

.aboutFunding > p {
  font-size: 0.9rem;
  margin: 20px 0;
}

.aboutOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.left strong {
  font-size: 2rem;
  margin-right: 5px;
}

.aboutOption button {
  outline: none;
  border: none;

  border-radius: 30px;
  padding: 20px;

  background: #05eeb4;
  transition: background-color 0.4s;
}

.aboutOption button:hover {
  cursor: pointer;
  background: #02c292ce;
}

.outofstock {
  opacity: 0.4;
}

.outofstock p {
  color: #b6b6b6;
}

.outofstock button {
  background: #8f8f8f;
}

.outofstock button:hover {
  cursor: initial;
  background: #8f8f8f;
}

.modalSection {
  max-width: 980px;
  background: white;
  position: absolute;
  z-index: 2;

  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  border-radius: 10px;

  box-shadow: 2px 1px 30px 1px rgba(0, 0, 0, 0.1);
}

.modalSectionHeader {
  position: relative;
}

.modalSectionHeader span {
  position: absolute;
  right: 0;
  font-weight: 800;
}

.modalSectionHeader span:hover {
  cursor: pointer;
}

.modalSectionHeader strong {
  font-size: 1.5rem;
  font-weight: 800;
}

.modalSectionHeader p {
  padding-top: 20px;
}

.pledgeCard {
  padding: 40px 20px;
  margin-top: 30px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.pledgeCard input[type="radio"] {
  border: 0;
  width: 20px;
  height: 20px;
}

.pledgeCard input[type="radio"]:checked {
  border-color: #05eeb4;
}

.pledgeInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pledgeInfo > div {
  display: flex;
  align-items: center;
}

.pledgeInfo > div strong {
  margin: 0 15px;
}

.pledgeCard .left strong {
  font-size: 1.4rem;
}
